<section class="container container-small mt-240 mb-240">
    <div class="row">
        <div class="col-12 col-lg-7">
            <h2 class="mb-64">Dolgozzunk együtt!</h2>
            <p class="work-together-text mb-40">
                Amennyiben felkeltettük érdeklődését vagy további információra van szüksége, keressen bennünket
                bizalommal!
            </p>
            <app-link-button
                link="mailto:info@monotop.hu?subject=Aj%C3%A1nlatk%C3%A9r%C3%A9s&body=K%C3%A9rj%C3%BCk%2C%20az%20al%C3%A1bbiak%20kit%C3%B6lt%C3%A9s%C3%A9vel%20seg%C3%ADtse%20munk%C3%A1nkat.%20Amennyiben%20lehets%C3%A9ges%2C%20alaprajzot%20%C3%A9s%20f%C3%A9nyk%C3%A9peket%20mell%C3%A9keljen.%0A%0ACsarnok%C3%A9p%C3%BClet%20rendeltet%C3%A9se%3A%20mez%C5%91gazdas%C3%A1gi%20%2F%20gy%C3%A1rt%C3%B3%20%2F%20rakt%C3%A1r%20%2F%20f%C3%B6d%C3%A9m%20%2F%20t%C3%A9rbeton%0ATeherb%C3%ADr%C3%A1s%3A%20kicsi%20%2F%20k%C3%B6zepes%20%2F%20nagy%0AIg%C3%A9nybev%C3%A9tel%3A%20kicsi%20%2F%20k%C3%B6zepes%20%2F%20nagy%0APadl%C3%B3fel%C3%BClet%20mennyis%C3%A9ge%3A%20"
                [isExternal]="true"
                svgIcon="envelope"
            >
                Ajánlatot kérek
            </app-link-button>
        </div>
        <div class="col-5 d-none d-lg-flex justify-content-end align-items-center">
            <app-dots [rectangles]="rectangles" normalColor="#555f6733" intersectionColor="#62e067"></app-dots>
        </div>
    </div>
</section>
