<section class="container container-small mt-240 mb-240">
    <div class="row">
        <div class="col-12 col-lg-7">
            <h3 class="mb-64">Dolgozzunk együtt!</h3>
            <div class="work-together-text mb-40">
                Amennyiben felkeltettük érdeklődését vagy további információra van szüksége, keressen bennünket
                bizalommal!
            </div>
            <app-link-button link="mailto:info@monotop.hu" [isExternal]="true" svgIcon="envelope">
                Ajánlatot kérek
            </app-link-button>
        </div>
        <div class="col-5 d-none d-lg-flex justify-content-end align-items-center">
            <app-dots [rectangles]="rectangles" normalColor="#555f6733" intersectionColor="#62e067"></app-dots>
        </div>
    </div>
</section>
