@import 'colors';
@import 'bootstrap-configuration';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';

h1 {
    margin-bottom: 25px;
}

.award-card {
    background-color: $monotop-green;
    padding: 24px 32px;
    margin-bottom: 30px;
    font-size: 16px;

    .award-title {
        margin-block: 24px;
        font-size: 16px;
        font-weight: 700;
    }

    .award-text {
        width: 100px;
        font-size: 16px;
    }
}

.image-container {
    margin-block: 30px;

    .dots-1 {
        left: 15%;
        bottom: -70px;
    }
}

.years-title {
    margin-bottom: 20px;
}

.years-text {
    color: $monotop-dark-blue;
}

.image-container-2 {
    margin: 32px 0;
}

.green-card {
    background-color: $light-green;
    width: 100%;
    padding: 32px 20px;

    .green-card-title {
        color: $neon-green;
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 400;
        line-height: 110%;
    }

    .green-card-text {
        color: $monotop-blue;
    }
}

@include media-breakpoint-up(sm) {
    .green-monotop {
        margin-top: 50px;
    }

    .image-container {
        margin-top: 50px;
        margin-bottom: 140px;
    }

    .award-card {
        position: absolute;
        top: -35px;
        padding: 12px 16px;
        right: 50px;

        .award-title {
            margin-block: 12px;
        }
    }
}

@include media-breakpoint-up(md) {
    .green-card .green-card-title {
        font-size: 50px;
    }
}

@include media-breakpoint-up(lg) {
    h1 {
        margin-bottom: 50px;
    }

    .image-container,
    .green-monotop {
        margin-top: 115px;
    }

    .award-card {
        top: 35px;
    }

    .years-title {
        width: 425px;
        margin-bottom: 20px;
    }

    .years-text {
        width: 375px;
    }

    .image-container-2 {
        margin-bottom: 0;

        .image-2 {
            width: 75%;
        }

        .dots-2 {
            right: 11.5%;
            top: 13%;
            z-index: 10;
        }
    }

    .green-card {
        position: absolute;
        width: auto;
        top: 20%;
        right: 0;

        .green-card-text {
            width: 325px;
        }
    }
}

@include media-breakpoint-up(xl) {
    h1 {
        margin-bottom: 60px;
    }

    .green-monotop {
        margin-top: 140px;
    }

    .image-container {
        margin-top: 140px;
        margin-bottom: 225px;
    }

    .award-card {
        padding: 24px 32px;

        .award-title {
            margin-block: 24px;
        }
    }

    .years-title {
        margin-bottom: 40px;
    }

    .image-container-2 {
        margin-top: 64px;

        .dots-2 {
            right: 15%;
            top: 26%;
            z-index: 10;
        }
    }

    .green-card {
        padding: 64px 40px;
        top: 22%;

        .green-card-title {
            font-size: 64px;
            margin-bottom: 48px;
        }

        .green-card-text {
            width: 425px;
            color: $monotop-blue;
        }
    }
}

@include media-breakpoint-up(xxl) {
    h1 {
        margin-bottom: 75px;
    }

    .image-container-2 .dots-2 {
        right: 16.5%;
        top: 22%;
    }

    .green-card {
        top: 24%;
    }
}
