<section class="container container-big mt-152 mb-240">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="green-monotop">MONOTOP Kft.</div>
            <h1 class="floor">Ipari padlót készítünk</h1>
            <app-link-button link="/tevekenysegek" svgIcon="arrow-right" svgIconAlt="Jobbra mutató nyíl">
                Tevékenységek
            </app-link-button>
        </div>
        <div class="col-12 col-lg-6 position-relative">
            <div class="position-relative image-container">
                <img src="assets/main-page/main-1.jpg" alt="Csarnok" width="100%" />
                <app-dots class="position-absolute d-none d-sm-block dots-1" [rectangles]="rectangle"></app-dots>
            </div>
            <div class="d-flex justify-content-center flex-row">
                <span class="d-inline-flex flex-column align-items-center text-white award-card">
                    <img
                        src="assets/main-page/award-logo.png"
                        alt="Mesterdíjas kivitelező logó"
                        class="mb-24"
                        width="65"
                        height="65"
                    />
                    <span class="award-title mb-24">MONOTOP Kft.</span>
                    <span class="text-center award-text">Mesterdíjas kivitelező</span>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="container container-small">
    <div class="row">
        <div class="col position-relative">
            <h1 class="years-title mb-40">28 éve töretlenül</h1>
            <div class="years-text mb-64">
                Évente 100.000 - 150.000 m<sup>2</sup> monolit betonlemezt, ipari padlót, alaplemezt, felbetont
                készítünk el.
            </div>
            <div class="position-relative image-container-2">
                <img src="assets/main-page/main-2.jpg" class="image-2" alt="" width="100%" />
                <app-dots class="position-absolute d-none d-lg-block dots-2" [rectangles]="rectangle"></app-dots>
            </div>
            <div class="d-inline-flex flex-column align-items-center green-card">
                <div class="green-card-title mb-48">150.000 m<sup>2</sup></div>
                <div class="text-center green-card-text">
                    Ez nagyjából annyi, mint 21 nagypályás futballpálya vagy a teljes budai rakpart lebetonozása -
                    minden évben.
                </div>
            </div>
        </div>
    </div>
</section>
<app-work-together></app-work-together>
