@import 'colors';
@import 'bootstrap-configuration';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

.about-us {
    color: $monotop-dark-blue;
}

.references {
    line-height: 28px;
    color: $monotop-dark-blue;

    .references-text-2 li {
        font-weight: 600;
        list-style-type: none;

        &:not(:last-child)::after {
            content: '•';
            padding-inline: 5px;
        }
    }
}

.logos {
    &::after {
        content: '';
        display: block;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(to right, white 0, transparent 25%),
            linear-gradient(to left, white 0, transparent 25%);
    }

    .logos-slide {
        animation: 35s slide infinite linear;

        img {
            margin-inline: 40px;
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.activities {
    background-color: $monotop-blue;

    ul {
        line-height: 28px;
    }
}

@include media-breakpoint-up(lg) {
    .logos {
        &::after {
            content: none;
        }

        .logos-slide {
            animation: none;

            img {
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    h2 {
        width: 550px;
    }
}
