@import 'colors';

a {
    display: inline-block;
    background-color: $monotop-green;
    color: white;
    padding: 20px 24px;
    text-decoration: none;

    img {
        margin-inline-start: 16px;
    }

    &:hover {
        background-color: color-mix(in srgb, $monotop-green 90%, black);
    }

    &:active {
        background-color: color-mix(in srgb, $monotop-green 80%, black);
    }
}
