<section class="container container-big mt-152 mb-240">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="green-monotop">MONOTOP Kft.</div>
            <h1 class="floor">Ipari padlót készítünk</h1>
            <app-link-button link="/tevekenysegek" svgIcon="arrow-right"> Tevékenységek </app-link-button>
        </div>
        <div class="col-12 col-lg-6 position-relative">
            <div class="position-relative image-container">
                <figure>
                    <picture>
                        <source
                            type="image/avif"
                            sizes="
                            (max-width: 576px) 555px,
                            (max-width: 768px) 520px,
                            (max-width: 992px) 700px,
                            (max-width: 1200px) 440px,
                            (max-width: 1440px) 500px,
                            590px
                        "
                            srcset="assets/main-page/main-1-500.avif 500w, assets/main-page/main-1-700.avif 700w"
                        />
                        <source
                            type="image/webp"
                            sizes="
                            (max-width: 576px) 555px,
                            (max-width: 768px) 520px,
                            (max-width: 992px) 700px,
                            (max-width: 1200px) 440px,
                            (max-width: 1440px) 500px,
                            590px
                        "
                            srcset="assets/main-page/main-1-500.webp 500w, assets/main-page/main-1-700.webp 700w"
                        />
                        <img
                            src="assets/main-page/main-1-700.jpg"
                            alt="Csiszolt beton egy csarnokban, csiszológépekkel a háttérben."
                            width="700"
                            height="469"
                        />
                    </picture>
                </figure>
                <app-dots class="position-absolute d-none d-sm-block dots-1" [rectangles]="rectangle"></app-dots>
            </div>
            <div class="d-flex justify-content-center flex-row">
                <aside class="d-inline-flex flex-column align-items-center text-white">
                    <img
                        src="assets/main-page/award-logo.png"
                        alt="Mesterdíjas kivitelező logó"
                        class="mb-24"
                        width="65"
                        height="65"
                    />
                    <div class="award-title mb-24">MONOTOP Kft.</div>
                    <div class="text-center award-text">Mesterdíjas kivitelező</div>
                </aside>
            </div>
        </div>
    </div>
</section>
<section class="container container-small">
    <div class="row">
        <div class="col position-relative">
            <h1 class="years-title mb-40">{{ yearsSinceFoundation }} éve töretlenül</h1>
            <p class="years-text mb-64">
                Évente 100.000 - 150.000 m² monolit betonlemezt, ipari padlót, alaplemezt, felbetont készítünk el.
            </p>
            <div class="position-relative image-container-2">
                <figure>
                    <picture>
                        <source
                            type="image/avif"
                            sizes="
                            (max-width: 576px) 500px,
                            (max-width: 768px) 535px,
                            (max-width: 992px) 660px,
                            (max-width: 1200px) 680px,
                            (max-width: 1440px) 735px,
                            840px
                        "
                            srcset="assets/main-page/main-2-535.avif 535w, assets/main-page/main-2-840.avif 840w"
                        />
                        <source
                            type="image/webp"
                            sizes="
                            (max-width: 576px) 500px,
                            (max-width: 768px) 535px,
                            (max-width: 992px) 660px,
                            (max-width: 1200px) 680px,
                            (max-width: 1440px) 735px,
                            840px
                        "
                            srcset="assets/main-page/main-2-535.webp 535w, assets/main-page/main-2-840.webp 840w"
                        />
                        <img
                            src="assets/main-page/main-2-840.jpg"
                            alt=""
                            class="image-2"
                            alt="Egy kék ruhás munkás betont simít egy géppel."
                            width="840"
                            height="483"
                        />
                    </picture>
                </figure>
                <app-dots class="position-absolute d-none d-lg-block dots-2" [rectangles]="rectangle"></app-dots>
            </div>
            <div class="d-inline-flex flex-column align-items-center green-card">
                <div class="green-card-title mb-48">150.000 m²</div>
                <p class="text-center m-0 green-card-text">
                    Ez nagyjából annyi, mint 21 nagypályás futballpálya vagy a teljes budai rakpart lebetonozása -
                    minden évben.
                </p>
            </div>
        </div>
    </div>
</section>
<app-work-together></app-work-together>
