<footer class="text-white">
    <div *ngIf="isExtendedFooterVisible" class="footer-extended">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="footer-monotop">Monotop Kft.</div>
                    <address class="m-0">
                        <div>1214 Budapest, II. Rákóczi Ferenc út 315.</div>
                        <div>
                            <a href="tel:+36 1 2000 380" class="text-decoration-none text-white">+36 1 2000 380</a>
                        </div>
                        <div>
                            <a href="mailto:info@monotop.hu" class="text-decoration-none text-white">info@monotop.hu</a>
                        </div>
                        <div>Adószám: 12134524-1-66</div>
                    </address>
                </div>
                <div class="col-12 col-md-6">
                    <iframe
                        class="w-100 border-0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfvKDqo7CqaxBoHSiZpF7NqPNC8ozxd4w&q=place_id:ChIJEcO9lwrnQUcRhBz0r2aneRs"
                    >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <div class="container">Monotop Kft. © Minden jog fenntartva</div>
    </div>
</footer>
