<h1>Monotop</h1>
<app-link-button class="mx-3" link="test-path" svgIcon="arrow-right"> Ajánlatot kérek </app-link-button>
<app-link-button
    link="mailto:zalan.racz.dev@gmail.com"
    [isExternal]="true"
    svgIcon="arrow-right"
    svgIconAlt="Jobbra mutató nyíl"
>
    Ajánlatot kérek
</app-link-button>
<app-link-button link="https://www.google.hu" [isExternal]="true" svgIcon="arrow-right" svgIconAlt="Jobbra mutató nyíl">
    Ajánlatot kérek
</app-link-button>
<app-link-button svgIcon="arrow-right" svgIconAlt="Jobbra mutató nyíl"> Ajánlatot kérek </app-link-button>
<app-link-button> Test</app-link-button>
<app-link-button [isExternal]="true"> Test</app-link-button>
<router-outlet></router-outlet>
