<div class="container container-small mt-152 mb-152">
    <h1>Kapcsolat</h1>
</div>
<section>
    <address class="container container-small mb-240">
        <div class="row">
            <div class="col-12 col-lg-6 col-xxl-5">
                <div class="green-monotop mb-48">MONOTOP Kft.</div>
                <div class="d-flex flex-column people-text mb-120">
                    <div>
                        <span class="d-block d-sm-inline person-title">Irodavezető </span>
                        <span>// Valulh Zsuzsanna (</span>
                        <a href="tel:+36 30 470 0409" class="text-decoration-none">+36 30 470 0409</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Előkészítő </span>
                        <span>// Aradi Márta (</span>
                        <a href="tel:+36 30 680 2283" class="text-decoration-none">+36 30 680 2283</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Főépítésvezető </span>
                        <span>// Megyesi Zsolt (</span>
                        <a href="tel:+36 30 203 9224" class="text-decoration-none">+36 30 203 9224</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Építésvezető </span>
                        <span>// Szigeti Zoltán (</span>
                        <a href="tel:+36 30 314 8496" class="text-decoration-none">+36 30 314 8496</a>
                        <span>)</span>
                    </div>
                </div>
                <div class="d-flex flex-column company-data">
                    <div>1214 Budapest, II. Rákóczi Ferenc út 315.</div>
                    <div>
                        <a href="tel:+36 30 947 2080" class="text-decoration-none">+36 30 947 2080</a>
                        <span class="ms-3">Rácz József</span>
                    </div>
                    <div>
                        <a href="mailto:info@monotop.hu" class="text-decoration-none">info@monotop.hu</a>
                    </div>
                    <div>Adószám: 13817215-2-43</div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-7">
                <iframe
                    title="Térképen a cím: 1214 Budapest, II. Rákóczi Ferenc út 315."
                    class="w-100 border-0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Térképen a Monotop Kft. telephelye."
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfvKDqo7CqaxBoHSiZpF7NqPNC8ozxd4w&q=place_id:ChIJEcO9lwrnQUcRhBz0r2aneRs&zoom=13"
                >
                </iframe>
            </div>
        </div>
    </address>
</section>
