@import 'colors';
@import 'bootstrap-configuration';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

section {
    .company-data {
        color: $monotop-dark-blue;
        gap: 8px;

        .person-title {
            font-weight: 600;
        }

        span {
            font-size: 16px;
        }
    }

    .people-text {
        color: $monotop-dark-blue;
        gap: 8px;

        div {
            font-size: 16px;
        }
    }

    a {
        color: $monotop-dark-blue;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            font-weight: 600;
        }
    }

    iframe {
        height: 350px;
        margin-top: 24px;
    }
}

@include media-breakpoint-up(sm) {
    section {
        .company-data,
        .people-text {
            gap: 16px;
        }

        iframe {
            margin-top: 32px;
        }
    }
}

@include media-breakpoint-up(lg) {
    section {
        iframe {
            height: 100%;
            margin-top: 0;
        }
    }
}
