<section>
    <div class="container container-small mt-152 mb-152">
        <div class="row">
            <div class="col">
                <h1 class="m-0">Kapcsolat</h1>
            </div>
        </div>
    </div>
    <address class="container container-small mb-240">
        <div class="row">
            <div class="col-12 col-lg-6 col-xxl-5">
                <div class="green-monotop mb-48">MONOTOP Kft.</div>
                <div class="d-flex flex-column company-data mb-120">
                    <div>1214 Budapest, II. Rákóczi Ferenc út 315.</div>
                    <div>
                        <a href="tel:+36 1 2000 380" class="text-decoration-none">+36 1 2000 380</a>
                    </div>
                    <div>
                        <a href="mailto:info@monotop.hu" class="text-decoration-none">info@monotop.hu</a>
                    </div>
                    <div>Adószám: 12134524-1-66</div>
                </div>
                <div class="people-title mb-48">Érdeklődés</div>
                <div class="d-flex flex-column people-text">
                    <div>
                        <span class="d-block d-sm-inline person-title">Irodavezető </span>
                        <span>// Aradi Márta (</span>
                        <a href="tel:+36 1 1234 5678" class="text-decoration-none">+36 1 1234 5678</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Előkészítő </span>
                        <span>// Vaulm Zsuzsanna (</span>
                        <a href="tel:+36 1 1234 5678" class="text-decoration-none">+36 1 1234 5678</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Főépítésvezető </span>
                        <span>// Megyesi Zsolt (</span>
                        <a href="tel:+36 1 1234 5678" class="text-decoration-none">+36 1 1234 5678</a>
                        <span>)</span>
                    </div>
                    <div>
                        <span class="d-block d-sm-inline person-title">Építésvezető </span>
                        <span>// Szigeti Zoltán (</span>
                        <a href="tel:+36 1 1234 5678" class="text-decoration-none">+36 1 1234 5678</a>
                        <span>)</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-7">
                <iframe
                    title="Térképen a cím: 1214 Budapest, II. Rákóczi Ferenc út 315."
                    class="w-100 border-0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Térképen a Monotop Kft. telephelye."
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfvKDqo7CqaxBoHSiZpF7NqPNC8ozxd4w&q=place_id:ChIJEcO9lwrnQUcRhBz0r2aneRs"
                >
                </iframe>
            </div>
        </div>
    </address>
</section>
