<footer class="text-white">
    @if ((rs.isContactPageOpened$ | async) === false) {
        <div class="footer-extended d-flex">
            <address class="container container-small mt-120 mb-120">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="footer-monotop mb-48">Monotop Kft.</div>
                        <div class="company-data">
                            <div class="mb-16">1214 Budapest, II. Rákóczi Ferenc út 315.</div>
                            <div class="mb-16">
                                <a href="tel:+36 30 947 2080" class="text-decoration-none text-white"
                                    >+36 30 947 2080</a
                                >
                                <span class="ms-3">Rácz József</span>
                            </div>
                            <div class="mb-16">
                                <a href="tel:+36 30 203 9224" class="text-decoration-none text-white"
                                    >+36 30 203 9224</a
                                >
                                <span class="ms-3">Megyesi Zsolt</span>
                            </div>
                            <div class="mb-16">
                                <a href="mailto:info@monotop.hu" class="text-decoration-none text-white"
                                    >info&#64;monotop.hu</a
                                >
                            </div>
                            <div>Adószám: 13817215-2-43</div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <iframe
                            title="Térképen a cím: 1214 Budapest, II. Rákóczi Ferenc út 315."
                            class="w-100 border-0"
                            loading="lazy"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            title="Térképen a Monotop Kft. telephelye."
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfvKDqo7CqaxBoHSiZpF7NqPNC8ozxd4w&q=place_id:ChIJEcO9lwrnQUcRhBz0r2aneRs&zoom=13"
                        >
                        </iframe>
                    </div>
                </div>
            </address>
        </div>
    }
    <div class="footer-basic d-flex">
        <div class="container container-small mt-32 mb-32">Monotop Kft. © Minden jog fenntartva</div>
    </div>
</footer>
