@import 'colors';
@import 'bootstrap-configuration';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

.footer-extended {
    background-color: $monotop-blue;

    .container {
        font-weight: 500;

        .footer-monotop {
            font-size: 30px;
            font-weight: 400;
        }

        .company-data div {
            font-size: 16px;

            a {
                font-size: 16px;
                font-weight: 500;

                &:hover {
                    font-weight: 600;
                }
            }
        }

        iframe {
            height: 300px;
            margin-top: 24px;
        }
    }
}

.footer-basic {
    background-color: $monotop-dark-blue;

    .container {
        font-size: 16px;
    }
}

@include media-breakpoint-up(sm) {
    .footer-extended .container iframe {
        margin-top: 32px;
    }
}

@include media-breakpoint-up(lg) {
    .footer-extended .container {
        .footer-monotop {
            font-size: 40px;
        }

        iframe {
            height: 100%;
            margin-top: 0;
        }
    }
}
