<div class="container container-small mt-152 mb-152">
    <h1>Tevékenységeink</h1>
</div>
<section class="container container-small mt-120">
    <div class="grid">
        <app-list-box headerTitle="Nagytáblás ipari padló" headerBackgroundImagePath="activities-page/nagytablas.webp">
            <ul class="m-0">
                <li>kopásálló, könnyen takarítható, sima, pormentes felület</li>
                <li>nagy teherbírású, szálerősített betonpadló acélszál vagy műanyag szál adagolással</li>
                <li>szükség esetén hálós vasalással</li>
                <li>táblák mérete legfeljebb 30x30 m</li>
                <li>min. 18 cm-es vastagság</li>
                <li>munkahézagok kialakítása speciális profilokkal</li>
                <li>csomópontokban, kapukban kiegészítő vasalással</li>
                <li>
                    nincs vágott fuga, ezért a fugák élletörései, kagylós kitörések, függőleges mozgások,
                    táblabillegések nem tudnak kialakulni
                </li>
                <li>
                    tartósabb szerkezet a vágott fugás padlónál, hosszabb élettartam, alacsonyabb karbantartási
                    költségek
                </li>
                <li>gazdaságos műszaki megoldás</li>
                <li>
                    elsősorban ipari, kereskedelmi épületek (raktárak, üzemek, műhelyek, áruházak, parkolóházak,
                    mezőgazdasági és állattartó épületek)
                </li>
            </ul>
        </app-list-box>
        <app-list-box headerTitle="Vágott fugás ipari padló" headerBackgroundImagePath="activities-page/vagott.webp">
            <ul class="m-0">
                <li>kopásálló, könnyen takarítható, sima, pormentes felület</li>
                <li>
                    nagy teherbírású, szálerősített betonpadló acélszál, műanyag szál vagy üvegszál adagolással, szükség
                    esetén hálós vasalással
                </li>
                <li>csomópontokban, kapukban kiegészítő vasalással</li>
                <li>vágott fugák távolsága legfeljebb 6,0 m</li>
                <li>munkahézagok kialakítása speciális profilokkal, bennmaradó vagy bontható zsaluval</li>
                <li>gazdaságos műszaki megoldás</li>
                <li>
                    elsősorban ipari, kereskedelmi épületek (raktárak, üzemek, műhelyek, áruházak, parkolóházak,
                    mezőgazdasági és állattartó épületek, sportlétesítmények)
                </li>
            </ul>
        </app-list-box>
        <app-list-box
            headerTitle="Térbetonok, beton útburkolatok"
            headerBackgroundImagePath="activities-page/terbeton.webp"
        >
            <ul class="m-0">
                <li>közlekedési utak, rakodóudvarok, benzinkutak létesítéséhez</li>
                <li>nagy teherbírású</li>
                <li>bazalt vagy andezit adalékos betonból, légpórusképzővel</li>
                <li>szükség esetén üvegszál erősítéssel</li>
                <li>csúszásmentes, seprűzött vagy enyhén simított felülettel</li>
                <li>fagyálló, nagy kopásállóságú, tartós</li>
                <li>
                    alkalmazásával elkerülhető az aszfalt- vagy térkőburkolatoknál előforduló gyűrődések, süllyedések
                </li>
            </ul>
        </app-list-box>
        <app-list-box headerTitle="Alaplemezek" headerBackgroundImagePath="activities-page/alaplemez.webp">
            <ul class="m-0">
                <li>épületek vasalt lemezalapjai kopóréteggel vagy burkolat alá</li>
                <li>25-30 cm vastagságtól, 80 cm vastagságig</li>
                <li>egyéb alapozások helyett</li>
                <li>vágott fuga nélkül</li>
                <li>vasalt kialakítással</li>
                <li>vízzáró szerkezet</li>
            </ul>
        </app-list-box>
        <app-list-box headerTitle="Felbetonok" headerBackgroundImagePath="activities-page/felbeton.webp">
            <ul class="m-0">
                <li>előregyártott födémelemekkel együttdolgozó vasalt betonszerkezet</li>
                <li>kopóréteggel vagy burkolat alá</li>
            </ul>
        </app-list-box>
        <app-list-box
            headerTitle="Aljzatbetonok, szerelőbetonok"
            headerBackgroundImagePath="activities-page/aljzatbeton.webp"
        >
            <ul class="m-0">
                <li>vasalt vagy vasalás nélküli aljzatbetonok burkolatok alá</li>
                <li>vágott fugás kivitelben</li>
                <li>szerelőbetonok készítése vasbeton lemezek fogadórétegeként</li>
            </ul>
        </app-list-box>
        <app-list-box headerTitle="Felújítás, állagmegóvás" headerBackgroundImagePath="activities-page/felujitas.webp">
            <ul class="m-0">
                <li>fugasérülések, betontáblák élletöréseinek, kagylós kitörések javítása</li>
                <li>fugaanyag pótlása, újrafugázás</li>
                <li>ipari padlók felületi sérüléseinek javítása</li>
                <li>táblasüllyedések, táblabillegések megszűntetése injektálással</li>
                <li>felületi csiszolások</li>
                <li>felületi kopások kezelése vízüveggel</li>
            </ul>
        </app-list-box>
    </div>
</section>
<app-work-together></app-work-together>
