@import 'colors';
@import 'bootstrap-configuration';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

li {
    color: $monotop-dark-blue;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@include media-breakpoint-up(md) {
    .grid {
        gap: 40px;
    }
}

@include media-breakpoint-up(lg) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }
}

@include media-breakpoint-up(xl) {
    .grid {
        gap: 64px;
    }
}

@include media-breakpoint-up(xxl) {
    .grid {
        gap: 80px;
    }
}
