<div class="container container-small mt-152 mb-152">
    <h1>Tevékenységeink</h1>
</div>
<section class="container container-small mt-120">
    <div class="grid">
        <app-list-box headerTitle="Ipari padlók készítése" headerBackgroundImagePath="activities-page/ipari-padlo.webp">
            <ul class="m-0">
                <li>nagy teherbírású, szálerősített betonpadló</li>
                <li>acélszál, műanyagszál vagy üvegszál adagolással, és/vagy vasalással</li>
                <li>nagytáblás vagy vágott fugás kivitelben</li>
                <li>kopásálló, könnyen takarítható, sima, pormentes felület</li>
                <li>munkahézagok kialakítása speciális profilokkal</li>
                <li>gazdaságos műszaki megoldás</li>
                <li>
                    elsősorban ipari, kereskedelmi épületek (raktárak, üzemek, műhelyek, áruházak, parkolóházak,
                    mezőgazdasági és állattartó épületek)
                </li>
            </ul>
        </app-list-box>
        <app-list-box headerTitle="Rinol DRT technológia" headerBackgroundImagePath="">
            <ul class="m-0">
                <li>nedves csiszolási technológia beton padlófelülekre</li>
                <li>gyors, hatékony módszer, ami nem jár porképződéssel</li>
                <li>padlók felületeinek megerősítésére</li>
                <li>felületi kopások kezelése, megelőzése</li>
                <li>használatból eredő felületi porképződés minimálisra csökkentése</li>
                <li>könnyebb tisztíthatóság, karbantartás</li>
                <li>fokozottabb ellenállás a karcolásokkal ütésekkel szemben</li>
                <li>energiamegtakarítás</li>
            </ul>
        </app-list-box>

        <app-list-box
            headerTitle="Térbetonok, beton útburkolatok"
            headerBackgroundImagePath="activities-page/terbeton.webp"
        >
            <ul class="m-0">
                <li>közlekedési utak, rakodóudvarok, benzinkutak létesítéséhez</li>
                <li>nagy teherbírású, fagyálló, nagy kopásállóságú, tartós megoldás</li>
                <li>bazalt vagy andezit adalékos betonból, légpórusképzővel</li>
                <li>csúszásmentes, seprűzött vagy enyhén simított felülettel</li>
                <li>
                    alkalmazásával elkerülhető az aszfalt- vagy térkőburkolatoknál előforduló gyűrődések, süllyedések
                </li>
            </ul>
        </app-list-box>
        <app-list-box
            headerTitle="Padlójavítások, felújítás, állagmegóvás"
            headerBackgroundImagePath="activities-page/felujitas.webp"
        >
            <ul class="m-0">
                <li>fugasérülések, betontáblák élletöréseinek, kagylós kitörések javítása</li>
                <li>fugaanyag pótlása, újrafugázás</li>
                <li>ipari padlók felületi sérüléseinek javítása</li>
                <li>táblasüllyedések, táblabillegések megszűntetése injektálással</li>
                <li>felületi javítások</li>
            </ul>
        </app-list-box>

        <app-list-box headerTitle="Alaplemezek" headerBackgroundImagePath="activities-page/alaplemez.webp">
            <ul class="m-0">
                <li>épületek vasalt lemezalapjai kopóréteggel vagy burkolat alá</li>
                <li>nagy, akár 80-100 cm-es vastagságban</li>
                <li>egyéb alapozások helyett</li>
            </ul>
        </app-list-box>
        <app-list-box
            headerTitle="Felbetonok, aljzatbetonok, szerelőbetonok"
            headerBackgroundImagePath="activities-page/felbeton.webp"
        >
            <ul class="m-0">
                <li>födémmel együttdolgozó vasalt felbeton szerkezetek kopóréteggel, vagy burkolat alá</li>
                <li>vasalt vagy vasalás nélküli aljzatbetonok burkolatok alá</li>
                <li>szerelőbetonok készítése vasbeton lemezek fogadórétegeként</li>
            </ul>
        </app-list-box>
    </div>
</section>
<app-work-together></app-work-together>
