@import 'colors';
@import 'bootstrap-configuration';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

h2 {
    margin-top: 48px;
    margin-bottom: 0;
}

li {
    color: $monotop-dark-blue;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@include media-breakpoint-only(sm) {
    h2 {
        margin-top: 64px;
    }
}

@include media-breakpoint-up(md) {
    h2 {
        margin-top: 80px;
    }

    .grid {
        gap: 40px;
    }
}

@include media-breakpoint-up(lg) {
    .page-title {
        height: 200px;
        background-image: linear-gradient(0deg, rgba(0 0 0 / 70%) 0%, transparent 25%),
            url('../../../../assets/activities-page/activities.jpg');
        background-size: cover;
        background-position-y: bottom;

        h2 {
            margin-bottom: 48px;
            margin-top: 0;
        }
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }
}

@include media-breakpoint-up(xl) {
    .page-title {
        height: 300px;

        h2 {
            margin-bottom: 64px;
        }
    }

    .grid {
        gap: 64px;
    }
}

@include media-breakpoint-up(xxl) {
    .page-title {
        height: 780px;

        h2 {
            margin-bottom: 80px;
        }
    }

    .grid {
        gap: 80px;
    }
}
