<div class="d-flex justify-content-center align-items-center mb-180">
    <figure class="position-relative">
        <img
            src="assets/about-us-page/hungary-map.svg"
            alt="Magyarország térképe, rajta bejelölve azok a fontosabb városok, ahol a Monotop Kft. dolgozott."
            class="hungary"
            loading="lazy"
            width="972"
            height="600"
        />
        <div
            *ngFor="let city of cities; let i = index"
            class="position-absolute rounded-circle city"
            [class]="'city-' + (i + 1)"
            placement="top"
            [ngbTooltip]="tooltipTemplate"
        >
            <ng-template #tooltipTemplate>
                <div class="d-flex flex-column align-items-start">
                    <div class="tooltip-title">{{ city.company }}</div>
                    <div class="tooltip-text">{{ city.name }}</div>
                </div>
            </ng-template>
        </div>
    </figure>
</div>
