$spacer: 16px;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px,
);

@import 'bootstrap/scss/bootstrap';

$monotop-green: #72cb76;
$neon-green: #62e067;
$monotop-blue: #01325b;
$gray: #555f67;

* {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

h1 {
    font-size: 90px;
    font-weight: 300;
    line-height: 110%;
}

h2 {
    font-size: 80px;
    font-weight: 400;
    line-height: 110%;
}

h3 {
    font-size: 64px;
    font-weight: 300;
    line-height: 110%;
}

a {
    font-size: 18px;
    font-weight: 600;
}
