@import 'bootstrap-loading';
@import 'colors';
@import 'margins';

* {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.app-root {
    min-height: 100vh;
}

h1 {
    font-size: 45px;
    color: $monotop-blue;
    font-weight: 300;
    line-height: 110%;
}

h2 {
    font-size: 35px;
    color: $monotop-blue;
    font-weight: 300;
    line-height: 110%;
}

a {
    font-size: 18px;
    font-weight: 600;
}

.container-small {
    padding: 0 20px;
}

.container-big {
    padding: 0 10px;
}

.green-monotop {
    color: $monotop-green;
    font-size: 24px;
    font-weight: 600;
}

@include media-breakpoint-up(md) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }
}

@include media-breakpoint-up(lg) {
    .container-small {
        padding-inline: 40px;
    }

    .container-big {
        padding-inline: 30px;
    }
}

@include media-breakpoint-up(xl) {
    h1 {
        font-size: 70px;
    }

    .container-small {
        padding-inline: 80px;
    }

    .container-big {
        padding-inline: 60px;
    }

    .green-monotop {
        font-size: 32px;
    }
}

@include media-breakpoint-up(xxl) {
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 64px;
    }

    .container-small {
        padding-inline: 160px;
    }

    .container-big {
        padding-inline: 120px;
    }
}
