<div class="container container-small mt-152 mb-152">
    <h1>Referenciák</h1>
</div>
<section class="container container-small mt-152 mb-152">
    <div>
        Az ország egész területén készítünk betonpadlókat. Az alábbi gigaberuházásokon vettünk részt: Audi, Samsung,
        Mercedes, Aréna Pláza, Coca-Cola, Electrolux, Richter Gedeon, Lego, és West End City. Nagyobb cégeknek
        betonoztunk több különálló helyszínen, például: Axiál, Stop-Shop, Tesco, Spar, Bosch, stb.
    </div>
    <div class="d-flex justify-content-center align-items-center mt-120 mb-240">
        <figure class="position-relative">
            <img
                src="assets/references-page/hungary-map.svg"
                alt="Magyarország térképe, rajta bejelölve azok a fontosabb városok, ahol a Monotop Kft. dolgozott."
                class="hungary"
                width="972"
                height="600"
            />
            @for (city of cities; track city; let i = $index) {
                <div
                    class="position-absolute rounded-circle city"
                    [class]="'city-' + (i + 1)"
                    placement="top"
                    [ngbTooltip]="tooltipTemplate"
                >
                    <ng-template #tooltipTemplate>
                        <div class="d-flex flex-column align-items-start">
                            <div class="tooltip-title">{{ city.company }}</div>
                            <div class="tooltip-text">{{ city.name }}</div>
                        </div>
                    </ng-template>
                </div>
            }
        </figure>
    </div>
</section>
<section class="d-flex text-white references-list">
    <div class="container container-small mt-152 mb-152">
        <h2 class="text-white mb-64">Fontosabb munkáink</h2>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <ul class="mb-0">
                    <li>Akzo Nobel Coatings - 4.000 m²</li>
                    <li>Westend - 21.000 m²</li>
                    <li>Tesco - 130.000 m²</li>
                    <li>Baumax - 90.000 m²</li>
                    <li>Interspar - 40.000 m²</li>
                    <li>Fornetti - 18.700 m²</li>
                    <li>Rewe - 30.000 m²</li>
                    <li>Airport City - 12.500 m²</li>
                    <li>Owens Illinois - 20.000 m²</li>
                    <li>Lego - 15.000 m²</li>
                    <li>Happ - 15.500 m²</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <ul class="mb-0">
                    <li>Pilze-Nagy - 9.200 m²</li>
                    <li>ProLogis - 10.600 m²</li>
                    <li>Parat - 11.200 m²</li>
                    <li>Audi - 12.000 m²</li>
                    <li>Mercedes - 40.000 m²</li>
                    <li>Európa Center - 26.000 m²</li>
                    <li>Ferzol - 15.200 m²</li>
                    <li>British Tobacco - 6.200 m²</li>
                    <li>Haribo - 1.100 m²</li>
                    <li>Hi-Lex - 8.100 m²</li>
                    <li>Lehel piac - 11.800 m²</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <ul class="mb-0">
                    <li>Hungaro Casing - 10.200 m²</li>
                    <li>Schwarzmüller - 8.700 m²</li>
                    <li>Millenniumi Kulturális Központ - 11.500 m²</li>
                    <li>Millenáris Park - 4.200 m²</li>
                    <li>Shark Park - 15.000 m²</li>
                    <li>Trans-Sped - 16.600 m²</li>
                    <li>MAaxCity - 30.000 m²</li>
                    <li>Foxconn - 18.000 m²</li>
                    <li>Aldi - 34.000 m²</li>
                    <li>GRT irodaház - 12.000 m²</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-work-together></app-work-together>
